@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(63, 61, 61);
    place-content: center;
    background-color: #FAFAFA;
}

.stores__container .container {
    display: flex;
}

.container {
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 728px) {
    .container {
        width: 728px;
    }
}

button {
    background-color: transparent;
    border: none;
}

.header {
    width: 100%;
    position: fixed;
    background-color: #fff;
    padding: 5px;
    align-items: center;
    border: 1px solid #0000000d;
}

.header__logo img {
    height: 40px;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.pag__stores {
    display: flex;
}

.new__store  {
    padding: 2px;
    border: 2px solid #c04e72;
    border-radius: 100%;
    width: 80px !important;
    /* height: 40px; */
}

.profile__detail img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    align-items: center;
}

.stores__img img {
    width: 75px;
    border-radius: 50%;
    margin-right: 25px;
}

.user__store {
    text-decoration: none;
    height: 72px;
    width: 72px;
}

.stores__img {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 30px;
}

.pag__profile {
    background-color: #fff;
    border-radius: 5px;
}

.profile__detail i {
    margin-right: 10px;
}

.pag__feed {
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #0000000d;
    border: 1px solid rgba(0, 0, 0, .1);
}

figure {
    margin: 0;
}

.pag__logo p {
    margin: 0;
    align-items: center;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

.pag__img img {
    width: 100%;
}

.profile__detail {
    display: flex;
    justify-content: space-between;
}

.pag__logo {
    align-items: center;
    display: flex;
    margin: 5px;
}

.post__likes {
    display: flex;
    padding: 4px 0;
}

.post__like:last-of-type {
    justify-self: flex-end;
    margin-left: auto;
}

.post__like:first-of-type {
    margin-left: 10px;
}

.post__like {
    font-size: 1.4rem;
    margin-right: 10px;
}

span {
    font-weight: bold;
    cursor: pointer;
}

.user_curtidas figure {
    width: 40px;
    height: 40px;
}

.user_curtidas img {
    width: 6%;
    height: 10%;
    border-radius: 50%;
    margin-left: 5px;
    padding: 5px;
}

.user_curtidas {
    display: flex;
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
}

.user_curtidas p {
    margin-left: 5px;
    font-size: 12px;
}